<%- include("partials/header.ejs") %>

<section class="vh-100 d-flex flex-column justify-content-center" style="background-color: #284b849d;">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10" >
        <div class="card" style="border-radius: 1rem;" >
          <div class="row g-0">
            <div class="d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form action="/users/register" method="POST">

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0">Welcome to My Blog!</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register Here</h5>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="username">Username:</label>
                    <input type="text" name="username" class="form-control form-control-lg" required>
                  </div>


                  <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="password">Password:</label>
                    <input type="password" name="password" class="form-control form-control-lg" required>
                  </div>
                  
                  <div class="pt-1 mb-4">
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-block" style="background-color: #FF6F00;" type="submit">Register</button>
                  </div>

                  <a class="small text-muted" href="#!">Forgot password?</a>
                  <p class="mb-5 pb-lg-2 mt-1" style="color: #26272c;">Already have an account? <a href="/users/login"
                      style="color: #203bd4;" class="ml-2">Login</a></p>
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer.ejs") %>
