.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.navbar {
    background-color: #dbdbdbd7;
    
}

#cardIndex {
    background-color: blanchedalmond;
    width: 50%;
   
}

html, body{
  height: 100%;

}

body main {
  display: flex;
  flex-direction: column;

  background-image: url("https://i.hizliresim.com/ov2ky26.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 100%;

}

section.vh-100 {
  flex: 1;
}

footer p {
  color: black;
}

/* navbar-dark bg-dark */